<template>
	<v-container>
		<v-layout row>
			<v-flex md6 offset-md3>
				<h1 align="center">{{user.email}}</h1>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import {mapState} from 'vuex'

export default {
	computed: {
		...mapState({
			user: state => state.user
		})
	}
}
</script>