<template>
	<v-container>
		<v-layout row>
			<v-flex md6 offset-md3>
				<v-card>
					<v-card-text>
						<v-container>
							<v-text-field v-model.lazy.trim="title" type="text" label="Task..." @keydown.native.enter="pushTask"></v-text-field>
							<v-list v-if="!sortedTasks.length">
								<v-list-tile-content>
									<h3 align="center" style="display: block; width: 100%;">No tasks</h3>				
								</v-list-tile-content>
							</v-list>
							<v-list v-else>
								<v-list-tile v-for="(task, i) in sortedTasks" :key="i">
									<v-list-tile-action>
										<v-checkbox v-model="task.completed" @change="updateComplete(task.completed, task['.key'])"></v-checkbox>
									</v-list-tile-action>
									<v-list-tile-content style="overflow: visible;">
										<v-text-field v-if="editIndex == i" type="text" placeholder="New task title..." v-model="task.title" style="padding: 9px 0 0;"></v-text-field>
										<v-list-tile-title v-else :style="{'text-decoration': task.completed ? 'line-through': ''}">
											{{task.title}}
										</v-list-tile-title>
										<!-- <v-list-tile-sub-title>Allow notifications</v-list-tile-sub-title> -->
									</v-list-tile-content>
									<v-list-tile-action>
										<v-btn v-if="editIndex != i" flat icon color="green accent-4" @click="editIndex = i"><v-icon>edit</v-icon></v-btn>
										<v-btn v-else flat icon color="green accent-4" @click="updateTask(task)"><v-icon>save</v-icon></v-btn>
									</v-list-tile-action>
									<v-list-tile-action v-if="editIndex != i">
										<v-btn flat icon color="red accent-4" @click="removeTask(task['.key'])"><v-icon>delete</v-icon></v-btn>
									</v-list-tile-action>
								</v-list-tile>
							</v-list>
						</v-container>
					</v-card-text>
					<v-bottom-nav :value="true" :active.sync="type">
						<v-btn flat color="teal" value="0">
							<span>All</span>
							<v-icon>list</v-icon>
						</v-btn>
						<v-btn flat color="teal" value="2">
							<span>In action</span>
							<v-icon>work</v-icon>
						</v-btn>
						<v-btn flat color="teal" value="1">
							<span>Completed</span>
							<v-icon>done</v-icon>
						</v-btn>
					</v-bottom-nav>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>


<script>
import {mapState, mapMutations} from 'vuex'
import {tasksRef} from '@/database/'

export default {
	data: () => ({
		title: '',
		editIndex: undefined,
		type: '0'
	}),
	computed: {
		...mapState({
			user: state => state.user,
			loading: state => state.ui.loading
		}),
		...mapMutations(['setLoading']),
		tasksRef: () => tasksRef,
		sortedTasks() {
			if (this.type == 0)
				return this.tasks
			else if (this.type == 1)
				return this.tasks.filter(el => el.completed)
			else
				return this.tasks.filter(el => !el.completed)
		}
	},
	firebase() {
		return {
			tasks: this.tasksRef.orderByChild('_userId').equalTo(this.user.id)
		}
	},
	methods: {
		pushTask() {
			this.tasksRef.push({
				_userId: this.user.id,
				title: this.title,
				completed: false
			})
			this.title = ''
		},
		updateComplete(completed, key) {
			console.log('completed', completed, 'key', key)
			this.tasksRef.child(key).update({completed})
		},
		updateTask(task) {
			this.tasksRef.child(task['.key']).update({
				title: task.title
			})
			this.editIndex = undefined
		},
		removeTask(key) {
			this.tasksRef.child(key).remove()
		}/*,
		getAllTasks(uid) {
			return new Promise((res, rej) => {
				tasksRef.orderByChild('_userId').equalTo(uid).on('value', data => {
					res(data.val())
				})
			})
		}*/
	}
}
</script>